{% block body %}
    <h1>Password reset confirmation</h1>

    <p>
        <a class="btn btn__primary" href="http://localhost:3000/reset-password/{{ resetToken.token }}">Click here</a>
    </p>
    <p>Cheers!</p>
    
{% endblock %}